.shadow-bottom-sm
{
   border-bottom: 2px solid rgb(239, 231, 231);
   
}
.border-dangers
{
    border: 4px solid rgb(122, 228, 228);
}
.text-color-benner
{
    color: rgb(22, 133, 133);
    font-size: 50px;
    font-weight: 700;
    
}

.nodata{
    display: none;
}

